*.project
*target*
*.class*
*.settings*
*/*.project
*/*.class*
*/*target*
*/*.settings*
*/*/*.project
*/*/*.class*
*/*/*target*
*/*/*.settings*
*/*/*/*.project
*/*/*/*.class*
*/*/*/*target*
*/*/*/*.settings*